[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
flask-restful = "*"
python-dotenv = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.7"
